*{

margin: 0;
padding: 0;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
box-sizing: border-box;
font-family: 'Maven Pro', sans-serif;

}

.fa-eye:hover {
    cursor: pointer;
}
body {
height: 100vh;
background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%,
#302b63,#0f0c29
,#24243e 90% );

}

.wrapper{

height: 100vh;
}

.myColor{

background-image: linear-gradient(to right,#009fff
10%, #ec2f4b 150%);
}
.myShadow{

box-shadow: 0 5px 10px #111;
}
.myBtn{
border-radius: 50px;
font-weight: bold;
font-size: 20px;
background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
border: none;
width: 100px;
}
.myBtn:hover{


background-image: linear-gradient(to right, #495aff 0%,#0acffe 100%);
}
.myHr{

height: 2px;
border-radius: 100px;
}
.myLinkBtn{
border-radius: 100px;
width: 50%;
border:2px solid #fff;
}
@media ( max-width: 720px){
    .wrapper{
        margin: 2px;
    }
}
    
